body {
  font-family: Kanit, sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fff;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navbar-link {
  margin-right: 150px;
  margin-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 30px;
}

.navbar-link:hover {
  color: #ffeb01;
}

.container {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.container.navbar-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.herobox-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.contact-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-icon {
  font-size: 30px;
}

.navbar-image {
  width: 80px;
}

.herobox {
  margin-bottom: 200px;
  padding-top: 200px;
}

.herobox-socialmedia {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.herobox-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 100px;
  padding-left: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.social-link {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.social-link:hover {
  -webkit-transform: translate(4px, 0px);
  -ms-transform: translate(4px, 0px);
  transform: translate(4px, 0px);
}

.herobox-title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 100px;
  line-height: 100%;
  text-align: left;
  text-transform: uppercase;
}

.herobox-title.herobox-title-2 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #fff;
  text-align: left;
  text-shadow: -1px 0 1px #000, 0 1px 1px #000, 1px 0 1px #000, 0 -1px 1px #000;
}

.herobox-title.herobox-title-3 {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.herobox-paragraph {
  max-width: 600px;
  margin-top: 60px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
}

.herobox-link {
  margin-top: 20px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #000;
  font-size: 26px;
  line-height: 100%;
  font-weight: 900;
  text-decoration: none;
}

.herobox-link:hover {
  text-decoration: underline;
}

.about {
  margin-bottom: 200px;
}

.about-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-video-icon {
  position: relative;
  margin-right: -20px;
  margin-left: -20px;
  padding-left: 0px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
}

.about-video-icon:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.about-title {
  position: absolute;
  top: 0%;
  color: #000;
  font-size: 60px;
  line-height: 100%;
  text-transform: uppercase;
}

.outlined-text {
  color: #fff;
  text-shadow: -1px 0 1px #000, 0 1px 1px #000, 1px 0 1px #000, 0 -1px 1px #000;
}

.outlined-text.contact-outlined-text {
  color: #ffeb01;
}

.projects {
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #ffeb01;
}

.projects-title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 26px;
  line-height: 100%;
  text-transform: capitalize;
}

.projets-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.projects-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 32%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
}

.projects-item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.project-title {
  margin-top: 18px;
  margin-bottom: 0px;
  color: #000;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
}

.services {
  margin-bottom: 200px;
  padding-top: 100px;
}

.serivces-description {
  font-family: Kanit, sans-serif;
  font-size: 30px;
  line-height: 110%;
  font-weight: 200;
}

.services-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.service-item {
  margin-right: 100px;
}

.service-title {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #000;
  font-size: 25px;
  line-height: 100%;
  text-transform: capitalize;
}

.serivce-list-item {
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 100%;
  font-weight: 300;
  text-transform: capitalize;
}

.results {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  padding-top: 20px;
  padding-left: 50px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.result {
  margin-right: 70px;
}

.result-number {
  color: #000;
  font-size: 50px;
  line-height: 100%;
}

.result-text {
  margin-top: 10px;
  color: #000;
  font-size: 20px;
  line-height: 100%;
  text-transform: capitalize;
}

.feedback {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000;
}

.feedback-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #fff;
  font-size: 70px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.outlined-text-reverse {
  color: #000;
  text-shadow: -1px 0 1px #fff, 0 1px 1px #fff, 1px 0 1px #fff, 0 -1px 1px #fff;
}

.feedback-slider-item {
  width: 30%;
}

.slider {
  overflow: visible;
  height: 320px;
  background-color: transparent;
}

.left-arrow {
  display: none;
}

.right-arrow {
  display: none;
}

.slide {
  width: 30%;
}

.mask {
  height: 100%;
}

.feedback-content {
  width: 100%;
  height: 80%;
}

.feedback-stars {
  width: 100px;
  margin-bottom: 20px;
}

.feedback-paragraph {
  margin-bottom: 0px;
  color: #fff;
  font-size: 18px;
  line-height: 140%;
  font-weight: 200;
}

.feedback-client {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.client-image {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  background-image: url('../images/client-1.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.client-image.client-1 {
  background-image: url('../images/client-1.png');
}

.client-image.client-2 {
  background-image: url('../images/client-5.png');
}

.client-image.client-3 {
  background-image: url('../images/client-2.png');
}

.client-image.client-4 {
  background-image: url('../images/DSC_3771.jpg');
}

.client-name {
  color: #fff;
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
}

.slide-nav {
  font-size: 12px;
}

.sponsor {
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.sponsor-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sponsor-image {
  max-width: 400px;
  margin-right: 100px;
}

.sponsor-description {
  max-width: 350px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 140%;
}

.sponsor-brands {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sponsor-brand {
  width: 30px;
}

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffeb01;
}

.contact-link {
  color: #000;
  font-size: 65px;
  line-height: 100%;
  font-weight: 900;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  padding-right: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-logo {
  margin-bottom: 14px;
}

.footer-address {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 128%;
  font-weight: 400;
}

.footer-contact {
  font-size: 16px;
  line-height: 128%;
  font-weight: 400;
}

.footer-title {
  margin-top: 0px;
  margin-bottom: 14px;
  color: #000;
  font-size: 24px;
  line-height: 100%;
  text-transform: capitalize;
}

.footer-link {
  margin-bottom: 10px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
}

.footer-link:hover {
  color: #000;
}

.footer-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-media-icon {
  margin-right: 12px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
}

.footer-media-icon:hover {
  -webkit-transform: translate(3px, 0px);
  -ms-transform: translate(3px, 0px);
  transform: translate(3px, 0px);
}

.nav-menu {
  padding-top: 50px;
  padding-left: 25px;
  background-color: rgba(0, 0, 0, 0.98);
}

.menu-button {
  color: #000;
}

.menu-button.w--open {
  background-color: #000;
}

